<body>
  <nav class="main-menu">
    <h3 class="title">FADCR</h3>
    <ul>
      <li>
        <a href="">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">Dashboard</span>
        </a>
      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-search fa-2x"></i>
          <span class="nav-text">Search</span>
        </a>
      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-comments fa-2x"></i>
          <span class="nav-text">Analysis</span>
        </a>
      </li>
    </ul>  
    <ul class="logout">
      <li>
        <a href="#">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text"> Logout </span>
        </a>
      </li>
    </ul>
  </nav>
</body>
